.git
.gitignore
.env
node_modules
vendor
.DS_Store
Thumbs.db
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
yarn-error.log
public/hot
public/storage
